@page "/"
@using BlazorWASM.Models
@using RestSharp;


<PageTitle>Categorias</PageTitle>

<h2>Categorias</h2>

@if(_categories is null)
{
    <p>Carregando dados da API</p>
}
else
{
    <table class="table shadow table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <td>Título</td>
                <td>Descrição</td>
            </tr>
        </thead>

        <tbody>
            @foreach(var category in _categories)
            {
                <tr>
                    <td>@category.Id</td>
                    <td>@category.Title</td>
                    <td>@category.Description</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Category>? _categories = new();

    protected override async Task OnInitializedAsync()
    {
        var client = new RestClient();
        var request = new RestRequest($"{Configuration.ApiUrl}/v1/categories");

        _categories = await client.GetAsync<List<Category>?>(request);
    }
}